body{

}
.menu{
width: 192px;
height: 199px;
flex-shrink: 0;
background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    
.menu-texto{
display: flex;
width: 1091px;
flex-direction: column;
flex-shrink: 0;
color: #BA7FCE;
text-align: center;
font-size: 30px;
font-family: Libre Franklin;
}
.cabecalho{
    position: absolute;
    width: 1440px;
    height: 195px;
    left: 0px;
    top: 248px;
    
    background: #000000;
}
.corpo{
    position: absolute;
    width: 1440px;
    height: 189px;
    left: 0px;
    top: 512px;
}
.rodape{

}
.rodape-texto{

position: absolute;
width: 654px;
height: 36px;
left: 393px;
top: 972px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 30px;
line-height: 36px;

color: #73597C;

}